<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Create New
</button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <%= form_with model: Inventory.new, local: true do |form| %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><%= form.text_field :name, placeholder: 'Inventory name', class: 'form-control' %></h5>      
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form.label :description %>
        <br>
        <%= form.text_area :description, placeholder: 'Add description', class: "form-control" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= form.submit "Inventory", class: 'btn btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>