<h2 class="heading">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="form-div" >
  <div class="mb-3 col-sm-8">
    <%= f.label :email  , class:"form-label"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"  %>
  </div>

  <div class="mb-3 col-sm-4">
    <%= f.submit "Send me reset password instructions" , class:"btn btn-primary form-control"%>
  </div>
  </div>
<% end %>
<div class="form-div" >
<%= render "devise/shared/links" %>
</div>
