<h1> All Foods</h1>
<button>
    <%= link_to "Add food", new_food_path %>
</button>
<ul>
<li>Foods</li>
<li>Measurement Unit</li>
<li>Unit Price</li>
<li>Action</li>
</ul>
<ul>
    <% @foods.each do |food|%>
        <li>
            <%= food.name%>
        </li>
        <li>
            <%= food.measurementUnit%>
        </li>
        <li>
            <%= food.price%>
        </li>
        <li>
        <button>
        <%=link_to "Delete", food_path(food.id), method: :delete%>
        </button>
        </li>
    <% end %>
</ul>