<h2 class="heading">Add Food</h2>
<div>
<%= form_with  model: [current_user.foods.build], class:"input-form"  do |f|%>
    <div class="form-div" >
    <%= f.hidden_field :user_id, value: @user.id %>

    <div class="mb-3 col-sm-8">
    <%= f.label :name, class:"form-label" %><br>
    <%= f.text_field :name, class:"form-control",  required: true, id:"name"%><br>
    </div>

    <div class="mb-3 col-sm-8">
    <%= f.label :measurementUnit, class:"form-label" %><br>
    <%= f.text_field :measurementUnit,  class:"form-control" , required: true, id:"measurement"%><br>
    </div>

    <div class="mb-3 col-sm-8">
    <%= f.label :price, class:"form-label" %><br>
    <%= f.text_field :price ,  class:"form-control" , required: true, id:"price"%><br>
    </div>

    <div class="mb-3 col-sm-2">
    <%= f.submit "Create Food", class:"btn btn-primary form-control" %>
    </div>
    </div>
<%end%>
<div class="form-div" >
  <div class="mb-3 col-sm-2">
    
        <%=link_to 'Back', foods_path, class:"btn btn-primary form-control"%>
  </div>
</div>
</div>
